.claims-desc {
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 25px;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    background-color: -internal-light-dark-color(white, black);
}

.control-label {
    padding-right: 16px;
    height: 26px;
    width: 100%;
    padding-left: 26px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.53;
    color: #536273;
    outline: none;
    clear: both;
}

/* Destination */
.autocomplete-input {
    padding-right: 16px;
    border: 1px solid #c6d5e6;
    height: 46px;
    width: 100%;
    padding-left: 26px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.53;
    border-radius: 3px;
    color: #536273;
    outline: none;
}

/* Button */
.fp-jumbotron-header .jumbotron-autocomplete__cta-btn {
    max-width: 360px;
    float: none;
}

.fp-jumbotron-header .jumbotron-autocomplete__cta-btn {
    margin-bottom: 32px;
}

.col-xs-12 {
    width: 100%;
}

.ah-btn-large {
    height: 72px;
    font-size: 19px;
}

.ah-btn--positive {
    box-shadow: 0 8px 16px 0 rgba(83, 99, 115, 0.32);
    transition: box-shadow 0.2s ease-in-out;
    color: #fff;
    background-color: #1b8eff;
    font-weight: 600;
}

.ah-btn,
.ah-btn-large,
.ah-btn-small {
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-inline-box;
    display: inline-flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
}
